.movie_data table {
    table-layout: fixed;
    max-width: 800px;
}
  
.movie_data tr {
    max-width: 400px;
    overflow: hidden;
}

.movie_data img {
    border-width: 5px !important;
    margin-right: 30px;
}

.comments table {
    table-layout: fixed;
    word-wrap: break-word;
}


  